*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #e0ebf5;
    margin: 0;
    padding: 0;
}


.card-body h2{
    font-size: 0.90em;
}


.card-body h3{
    font-size: 0.80em;
}

.container-main{
    mar
}
